

<div class="container">
  <h1>Netflix App</h1>
  <div class="my-list">
    <!-- <h3>My List</h3>     -->
    <ul class="mylist">
      <li *ngFor="let item of data.mylist" class="mylist__item">
        <div class="clip">
          <img [src]="item.img" [alt]="item.title">
          <span class="delete" (click)="delete(item)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Remove
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="recom">
    <h3>Recommendations</h3>
    <ul class="mylist">
      <li *ngFor="let item of data.recommendations" class="mylist__item">
        <div class="clip">
          <img [src]="item.img" [alt]="item.title">
          <span class="add" (click)="add(item)">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add
          </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="my-list__title">
    <ul class="title">
      <li *ngFor="let item of data.mylist" class="title--label">
        {{item.title}}
      </li>
    </ul>
  </div>
</div>
